@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Serif:opsz@8..144&display=swap");
*{ margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Estilizando o menu*/

header{
  background-color: #252525;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  
}
header div{
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}
header nav{
  width: 15%;
 display: flex;
 justify-content: space-evenly;
 
}
.título{
  height: 10vh;

}
header nav img{
  height: 5vh;
}

/*Estilizando a main*/
main{
  height: 130vh;
  width: 100%;
  background-image: url(./img/dog1.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}
.introdução{
  width: 70%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 10vh;
}
main h1{
  color: white;
  font-family: "Roboto Serif", serif;
  font-size: 4rem;
  
}
main img{
  width: 15%;
  height: 17vh;
  margin-left: 42%;
  margin-top: 2vh;

}
/*Estilizando a primeira seção*/
.conteúdo{
  background-image: url(./img/dog3.png);
  height: 150vh;
  background-repeat: no-repeat;
  background-size: 100% 170vh;
  display: flex;
  align-items: center;
}
.texto1{
  width: 35%;
  height: 70vh;
  margin-left: 7%;

}
.texto1 h2{
  font-size: 3.5rem;
  color: #3a342f;;
  font-weight: 900;
  font-family: "Roboto", sans-serif;

}
.texto1 p{
  font-size: 2rem;
  color: #3a342f;
  margin: 2rem 0 2rem 0;
  font-family: "Roboto Serif", serif;

}
#botão1{
  width: 45%;
  height: 10vh;
  font-size: 2rem;
  border-radius: 44px;
  background-color: #3a342f;
  color: #f4f2f3;

}
/*Estilizando a segunda seção*/
.conteúdo2{
  background-image: url(./img/dog2.png);
  height: 150vh;
  background-repeat: no-repeat;
  background-size: 100% 150vh;
  display: flex;
  justify-content: flex-end;
  align-items: center;
 
}
.texto2{
  width: 35%;
  height: 80vh;
  margin-right: 10%;

}
.texto2 h2{
  font-size: 3.5rem;
  color: white;
  font-weight: 900;
  font-family: "Roboto", sans-serif;

}
.texto2 p{
  font-size: 2rem;
  color: white;
  margin: 2rem 0 2rem 0;
  font-family: "Roboto Serif", serif;

}
#botão2{
  width: 45%;
  height: 10vh;
  font-size: 2rem;
  border-radius: 44px;
  background-color: white;
  color: #000000;
}

/*Estilizando a terceira seção*/
.conteúdo3{
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  margin-right: 15%;
  margin-left: 10%;

  
  
}
.conteúdo3 div{
  height: 15vh;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
  
  
  

}
#parágrafo{
  font-style: italic;
  color: #FD6A9A;
  font-size: 40px;
  width: 20%;
  margin-left: 10%;
  
  
  
}
.conteúdo3 img{
  color: #FD6A9A;
  height: 2rem;

}

/*Estilizando a terceira seção*/
footer{
  height: 60vh;
  display: flex;
  color: white;
  background-color:#EB4A7B ;
  display: flex;
  align-items: flex-end;
  

}
footer section{
  height: 35vh;
  width: 20%;
  text-align: center;
  margin-left: 5%;

}
footer h3{
  font-family: "Roboto Serif", serif;
  font-size: 2rem;
  

}
footer ul{
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  margin-top: 5vh;

}
footer li{
  margin-top: 2%;
}
.imagem1{
  display: none;
}
.imagem2{
  display: none;
}


@media screen and (max-width: 600px) {
header{
  height: 10vh;
}
.slogan{
  display: none;
}
.título{
  height: 4vh;
}
main{
  display: flex;
  align-items: center;
  
}

main h1{
  font-size: 2rem;
  }

.pata{
  width: 20%;
  margin-right: 43%;
}
.introdução{
  display: flex;
  align-items: center;
  height: 50vh;
  width: 60%;
  margin-bottom: 50%;
}
.conteúdo{
  background-image: url(./img/leão.png);
  background-size: cover;
  background-size: 100% 160vh;
  height: 160vh;
  
}

.texto1{
  width: 50%;
  margin-bottom: 50vh;

}
.texto1 h2{
  font-size: 2rem;

}
.texto1 p{
  font-size: 1rem;
  margin-bottom: 5vh;
  margin: 2rem 0 2rem 0;

}
#botão1{
  width: 45%;
  height: 10vh;
  font-size: 1rem;
  margin-bottom: 5vh;

}
.conteúdo2{
  background-image: url(./img/preto.png);
  display: flex;
  justify-content: flex-start;
  background-size: 100% 160vh;
  height: 160vh;
  
  
}
.texto2{
  width: 50%;
  margin-bottom: 50vh;
  margin-left: 5%;

}
.texto2 h2{
  font-size: 2rem;

}
.texto2 p{
  font-size: 1rem;
  margin-bottom: 10vh;
  margin: 2rem 0 2rem 0;

}
#botão2{
  width: 45%;
  height: 10vh;
  font-size: 1rem;
  margin-bottom: 20vh;

}
.conteúdo3{
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.conteúdo3 div{
  
  height: 10vh;
  width: 85%;
  


}
.conteúdo3 p{
  font-size: 20px;
  
}

.conteúdo3 img{
  height: 4vh;
  margin-right: 10%;
  margin-bottom: 2vh;
  margin-left: 12%;


}
footer{
 height: 200vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 
}
.imagem1{
  display: initial;
  border: solid blue;
  height: 20vh;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.imagem2{
  display: initial;
  border: solid black;
  height: 20vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
}
.imagem1 img{
  height: 17vh;
}
.imagem2 img{
  height: 8vh;

}
footer section{
  border: solid green;
  height: 40vh;
  width: 30%;
  

}
footer h3{
  font-size: 15px;

}
footer li{
  font-size: 1rem;

}

}


  
